// Color
$color-primary: #0072b5;
$color-primary-hover: #328ec3;
// $color-secondary: ;
$color-secondary-hover: #e5f0f7;

$color-white: #ffffff;

// Sizing
$sidebar-width: 220px;

// Border
$border-base: 1px solid #c2bd8d;
$border-radius: 4px;
